extends layout

block content
    nav.navbar.navbar-dark.fixed-top
        span.navbar-brand
            span(class='badge badge-danger')= title
        span.navbar-text Inventory
    br
    br

    // Wrapper
    .container
        .row
            .col-sm-4
                // MACHINE INFO
                #machineInfo(class='card')
                    .card-body
                        h2(class='card-title') Machine Info
                        #alertMachineInfoError.alert.alert-danger Error loading machine info
                        #alertMachineInfoEmpty.alert.alert-info Select a machine from the list to view its info.
                        p
                            strong Type:
                            |  <span id='machineInfoType'></span>
                            br
                            strong Load:
                            |  <span id='machineInfoLoad'></span>
                            br
                            strong Cost:
                            |  <span id='machineInfoCost'></span>
                // /MACHINE INFO
                br

                // ADD MACHINE
                #addMachine(class='card')
                    .card-body
                        h2 Add Machine
                        form
                            fieldset
                                .form-group
                                    input.form-control#inputMachineType(type='text', placeholder='Type', required)
                                .form-group
                                    .input-group
                                        input.form-control#inputMachineLoad(type='text', placeholder='Load', aria-describedby='inputGroupAppend')
                                        .input-group-append
                                            span.input-group-text#inputGroupAppend lbs
                                        .invalid-feedback Must be a whole number (i.e. "10")
                                .form-group
                                    .input-group
                                        .input-group-prepend
                                            span.input-group-text#inputGroupPrepend $
                                        input.form-control#inputMachineCost(type='text', placeholder='Cost', aria-describedby='inputGroupPrepend')
                                        .invalid-feedback Must be in valid USD format (i.e. "7.00")
                                button.btn.btn-primary#btnAddMachine(type='submit') Add Machine
                // /ADD MACHINE

            // MACHINE LIST
            .col
                .card#machineList
                    .card-body
                        //#machineList
                        h2(class='card-title') Machine List
                        #alertEmptyMachineList.alert.alert-info Looks like you don't have any machines yet! You can add some using the Add Machine form on the bottom left of this page. 
                        table
                            thead
                                th Type
                                th Load
                                th Delete?
                            tbody
            // /MACHINE LIST

    // /WRAPPER